asgiref==3.9.1
babel==2.17.0
beautifulsoup4==4.14.2
Django==5.2.5
django-cors-headers==4.7.0
django-filter==25.1
djangorestframework==3.16.1
docxcompose==1.4.0
docxtpl==0.20.1
Jinja2==3.1.6
lxml==6.0.1
MarkupSafe==3.0.2
python-docx==1.2.0
setuptools==80.9.0
six==1.17.0
soupsieve==2.8
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
Pillow
pydicom